certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
marshmallow==3.23.2
marshmallow-dataclass==8.5.14
mypy-extensions==1.0.0
packaging==24.2
pygitguardian==1.19.0
requests==2.32.4
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.6.0
email-validator==2.3.0
